/* color */
$color_acacac: #acacac;
$color_272727: #272727;
$color_f0f0f0: #f0f0f0;
$color_f6f7f8: #f6f7f8;
$color_ffffff: #ffffff;
$color_cfcfcf: #cfcfcf;
$color_cecece: #cecece;
$color_20cccf: #20cccf;
$color_11aeaf: #11aeaf;
$color_6236ff: #6236ff;
$color_92e8e8: #92e8e8;
$color_93dedf: #93dedf;
$color_fb5858: #fb5858;
$color_e9e9e9: #e9e9e9;
